/* importing fonts from google fonts */

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Inter:wght@100..900&display=swap');

.inter-font {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings:
    "slant" 0;
}

.dancing-script-font {
  font-family: "Dancing Script", cursive;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

    /* width: 100vw; 
    max-width: 100vw; 
    margin-left: calc(-50vw + 50%); 
    margin-right: calc(-50vw + 50%);  */

/* universal styles */
:root {
    --primary-color: #E6533C;
}

html {
    font-size: 62.5%; 
    /* 1 rem = 10px; */
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 1.6rem;
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    background: linear-gradient(to right, #191919, #232323);
}

/* adjusting margin-x of whole webpage */

@media screen and (max-width: 576px) {
    .main {
        /* max-width: 900px; */
        padding: 1rem 4rem;
    }
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .main {
        /* max-width: 900px; */
        padding: 1rem 4rem;
    }
}
@media screen and (min-width: 993px) {
.main {
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    max-width: 990px; 
}
}

@media screen and (min-width: 1200px) {
.main {
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    max-width: 1100px; 
}
}

@media screen and (min-width: 1500px) {
.main {
    width: 100%; 
    margin-left: auto; 
    margin-right: auto;
    max-width: 1400px; 
}
}

/* navbar */

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

@media screen and (min-width: 993px) {
    .navbar__child3 {
        display: none;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .navbar__child3 {
        display: none;
    }
}

@media screen and (max-width: 576px) {
    .navbar {
        /* padding: 1.5rem 2rem; */
    }

    .navbar__child2 {
        display: none;
    }
    
    .navbar__child3 {
        display: block;
        color: white;
        font-size: 3rem;
    }
}

.navbar-header {
    color: var(--primary-color);
    font-size: 3.6rem;
    font-weight: 800;
}

.navbar__child2 {
    border: 2px solid #4f4c4c;
    border-radius: 2.5rem;

}

.navbar__child2 ul {
    display: flex;
    align-items: center;
    padding-inline-start: 0;
    margin: 0;
    padding: 0.4rem 1rem 0.4rem .6rem;
}

.navbar__child2 li:not(:last-child) {
    list-style: none;
    margin-right: 3rem;
}

.nav-button {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    padding: 0.7rem 2rem;
    border: none;
    font-size: 2rem;
    font-weight: 600;
    border-radius: 1.5rem;
    cursor: pointer;
}

.nav-button-secondary {
    background-color: #191919;
    border: none;
    color: rgb(255, 255, 255);
    font-size: 2rem;
}

/* hero layout styles */

/* .hero {
    height: 65dvh;
    margin-top: 0;
    
} */

.hero__child1 {
    width: 50%;
}

.hero__header {
    margin-top: 0;
    color: rgb(255, 255, 255);
    font-size: 7.8rem;
    font-weight: 900;
    line-height: 120%;
}

.font-special {
    font-family: 'Dancing Script', cursive;
    font-size: 7.8rem;
    font-weight: 700;
}

.hero__paragraph {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.6rem;
    line-height: 2.4rem;
    letter-spacing: 0.5px;
    text-align: left;
    
}

.hero__button1 {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    border: transparent;
    border-radius: 3rem;
}

.hero__button2 {
    background-color: #191919;
    color: rgb(255, 255, 255);
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    border: 2px solid rgb(255, 255, 255);;
    border-radius: 3rem;
    margin-left: 2rem;
}

/* hero image section */

.hero__child2 {
    width: 50%;
    height: 100%;
    padding: 0;
    margin: 0;
    position: relative;
}

.hero-image {
    position: absolute;
    right: 16rem;
    top: 0rem;
}

.hero-image {
    height: 100%;
}

/* glass card */

.glass-container1 {
position: absolute;
top: 37rem;
background: linear-gradient(
);
90deg,
rgba(2, 0, 36, 1) 0%,
rgba(95, 9, 121, 1) 50%,
rgba(239, 0, 255, 1) 100%
display: flex;
justify-content: center;
align-items: center;
}

.glass-container2 {
position: absolute;
top: 12rem;
right: 24rem;
background: linear-gradient(
);
90deg,
rgba(2, 0, 36, 1) 0%,
rgba(95, 9, 121, 1) 50%,
rgba(239, 0, 255, 1) 100%
display: flex;
justify-content: center;
align-items: center;
}

.glass1 {
position: absolute;
height: 10rem;
width: 22rem;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
display: flex;
align-items: center;
justify-content: space-around; 
}

.glass1__child1 {
    height: 6rem;
    width: 6rem;
    background-color: var(--primary-color);
    border-radius: 50%;
}

.glass1-title {
    color: rgb(250, 250, 249);
    font-size: 24px;
    font-weight: 900;
    text-align: left;
}

.glass1-text {
    color: rgba(239, 237, 232, 0.65);
    font-size: 16px;
    text-align: left;
}

.glass2 {
position: absolute;
height: 10rem;
width: 22rem;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);
}

.glass2-title {
    color: rgb(255, 255, 255);
    font-size: 4rem;
    font-weight: 900;
    text-align: left;
    margin: 0;
    padding: 1rem 0 0 2.5rem;
}

.glass2-text {
    color: rgba(255, 255, 255, 0.65);
    font-size: 1.5rem;
    text-align: left;
    padding: .5rem 0 2rem 2.5rem;
    margin: 0;
}

/* Responsive hero section */
@media screen and (min-width: 993px) {
    .hero {
        height: 65dvh;
        margin-top: 0;
        display: flex;
        flex-direction: row;
        align-items: center;
    }
}

/* Tablet screen */

@media screen and (min-width: 576px) and (max-width: 992px) {
    .hero {
        flex-direction: column;
        align-items: center;
        height: 134.9vh;
    }

    .hero__child1 {
        width: 100%;
    }

    .hero__child2 {
        /* display: block; */
        width: 100%;
        height: 100%;
        position: relative; 
    }

    .hero-image {
    position: absolute;
    right: 20rem;
    top: 10rem;
    width: 35rem;
    height: 50rem;
}

}

@media screen and (min-width: 576px) and (max-width: 799px) {
       .glass-container1 {
    position: absolute;
    top: 47rem;
    left: 5rem;
    
}

.glass-container2 {
    position: absolute;
    top: 12rem;
    left: 30rem;
}
}

@media screen and (min-width: 800px) and (max-width: 992px) {
       .glass-container1 {
    position: absolute;
    top: 47rem;
    left: 20rem;
    
}

.glass-container2 {
    position: absolute;
    top: 12rem;
    left: 50rem;
}
}

/* Mobile screen responsive */

@media screen and (max-width: 576px)  {
    .hero {
        flex-direction: column;
        align-items: center;
        height: 120.3vh;
    }
    .hero__child1 {
        width: 100%;
    }

    .hero__header {
        font-size: 5rem;
    }

    .hero__paragraph {
        font-size: 1.2rem;
    }

    .hero__button-parent {
        margin-top: 2rem;
    }

    .hero__child2 {
        width: 100%;
    }

    .hero__button1 {
        width: 15rem;
        height: 5rem;
        font-size: 1.5rem;
    }

    .hero__button2 {
        width: 15rem;
        height: 5rem;
        font-size: 1.5rem;
    }

       .hero-image {
    position: absolute;
    right: 7rem;
    top: 10rem;
    width: 35rem;
    height: 50rem;
}
}

/* bg black section */

.bg-black-section, .change-your-habit {
    background-color: #000000;
    padding-top: 5rem;
    overflow: hidden; 
    min-height: 50rem;
}

.mx-auto {
    width: 90%; 
    margin-left: auto;
    margin-right: auto;
    max-width: 1400px; 
}

@media screen and (max-width: 576px) {
    .mx-auto {
        padding: 1rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .mx-auto {
        padding: 1rem 2rem; 
    }
}

@media screen and (min-width: 993px) {
    .mx-auto {
        padding: 1rem 4rem; 
    }
}

/* Change your habits section */

.habit__title {
    color: rgb(255, 255, 255);
    font-size: 4.8rem;
    font-weight: 900;
    text-align: center;
}

.habit__text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    text-align: center;
}

/* grid layout */

.habit-child2 {
    margin-top: 7rem;
    display: grid;
}

@media screen and (max-width: 576px) {
    .habit-child2 {
        grid-template-columns: repeat(1, 1fr);
        justify-items: center;
        row-gap: 3rem;
    }
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .habit-child2 {
        grid-template-columns: repeat(2, 1fr);
        justify-items: center;
        row-gap: 3rem;
    }
}

@media screen and (min-width: 993px) {
    .habit-child2 {
        grid-template-columns: repeat(4, 1fr);
        justify-content: stretch;
        padding-left: 7rem;
    }
}

.habit__card {
    max-width: 25rem;
    
}

.habit-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.habit__card--child {
    margin-top: 3rem;
}

.card--title {
    color: rgb(255, 255, 255);
    font-size: 1.8rem;
    font-weight: 600;
    /* padding-left: 6rem; */
    text-align: center;
}

.card--text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
    text-align: center;
}

.habit--image {
    width: 22rem;
    height: 22rem;
    border: 1px solid gray;
    border-radius: 50%;
}

/* Run extra mile section */

.run-extra-mile {
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 40rem;
    padding: 0 7rem;
    margin: 12rem 0 5rem 0;
    border-radius: 3rem;
}

.run-extra-mile__child1 {
    padding-bottom: 5rem;
    flex-shrink: 1;
}
.run-extra-mile__title {
    color: rgb(255, 255, 255);
    font-size: 48px;
    font-weight: 900;
    flex-shrink: 1;
}

.run-extra-mile__text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 14px;
    width: 45rem;
    padding-bottom: 2rem;
    flex-shrink: 2;
}

.run-extra-mile__image {
    width: 366px;
    height: 312px;
    border-radius: 2rem;
    flex-shrink: 2;
}

.run-extra-mile__button {
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    border: transparent;
    border-radius: 3rem;
    cursor: pointer;
}

/* Responsive run extra mile section */

@media screen and (max-width: 576px) {
    .run-extra-mile {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        height: 90vh;
        
    }

    .run-extra-mile__button {
    width: 44rem;
}

    .run-extra-mile__child1 {
        padding: 0 4rem;
    }

    .run-extra-mile__title {
    text-align: left;
}

    .run-extra-mile__image {
    margin: 3rem 0;
    width: 435px;
    height: 312px;
    border-radius: 2rem;
}
}

@media screen and (min-width: 576px) and (max-width: 992px) {
    .run-extra-mile {
        padding: 0 2rem;
    }
    .run-extra-mile__image {
    width: 266px;
    height: 312px;
    border-radius: 2rem;
}

.run-extra-mile__title {
    font-size: 38px;

}

.run-extra-mile__text {
    font-size: 12px;
    max-width: 25rem;
    flex-shrink: 2;
}
}

@media screen and (min-width: 993px) {
    
}

/* BMI Calculator section */

.bmi-parent {
    background-color: #222222;
    margin-top: 5rem;
}

.bmi {
    /* background-color: #222222;
    margin-top: 5rem; */
}

.bmi__title {
    color: rgb(255, 255, 255);
    font-weight: 900;
    text-align: center;
}

.bmi__text {
    color: rgba(255, 255, 255, 0.5);
    text-align: center;
}

    /* BMI calculation section */

.bmi-child2 {
    display: flex;
}

.bmi__chart {
    
}

.bmi__chart--title {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900;
}

/* BMI table */

.bmi--table {
    margin-top: 4rem;
    width: 40rem;
    border-collapse: collapse;
}

.bmi--table th, .bmi--table td {
    border: 1px solid rgba(255, 255, 255, 0.1);
    padding: 1.5rem 1.5rem;
    text-align: center;
}

.bmi--table th {
    color: rgb(255, 255, 255);
    font-size: 1.6rem;
    font-weight: 500;
}

.bmi--table tbody {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}


.bmi__calculator {}

.bmi__calculator--title {
    color: rgb(255, 255, 255);
    font-size: 2.8rem;
    font-weight: 900;
}

.bmi__calculator--text {
    color: rgba(255, 255, 255, 0.5);
    font-size: 1.4rem;
}

/* BMI grid */

.bmi__calculator--grid {
    margin-top: 4rem;
    display: grid;
    grid-template-areas: "height body-weight"
                         "age    sex"
                         "activity activity";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap: 2rem;
}

.grid-child1 {
    grid-area: height;
}

.grid-child2 {
    grid-area: body-weight;
}

.grid-child3 {
    grid-area: age;
}

.grid-child4 {
    grid-area: sex;
}

.grid-child5 {
    grid-area: activity;
}

.bmi--fields {
    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 5px;
    color: rgba(255, 255, 255, 0.6);
    background-color: #393939;
    font-size: 1.6rem;
    padding: 2rem;
}

.bmi--input {
    width: 32.2rem;
}

.bmi--input::placeholder {
    color: rgba(255, 255, 255, 0.6);
    font-size: 1.6rem;
    opacity: 1;
}

.dropdown-bar {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    text-align: left;
    font-size: 1.6rem;
    background-image: url('data:image/svg+xml;base64,PHN2ZyBmaWxsPSIjZmZmZmZmIiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNCIgaGVpZ2h0PSIxNCIgdmlld0JveD0iMCAwIDE0IDE0Ij4gPHBhdGggZD0iTTcgMTEuNUwxLjUgNi4wIDMuNjMgMy44NCA3IDcuMTZMMTAuMzcgMy44NEwxMi41IDZMNyAxMS41eiIvPjwvc3ZnPg==');
    position: relative;
    background-repeat: no-repeat;
    background-position: right 10px center;
}

.bar1 {
    width: 36.5rem;
}

.bar2 {
    width: 75rem;
}

.dropdown option {
    background-color: #2c2c2c;
    color: #ffffff;
}

.bmi-button {
    margin-top: 4rem;
    background-color: var(--primary-color);
    color: rgb(255, 255, 255);
    width: 20rem;
    height: 5rem;
    font-size: 2rem;
    font-weight: 600;
    border: transparent;
    border-radius: 3rem;
    cursor: pointer;

}

@media screen and (min-width: 993px) {
    .bmi {
        overflow: hidden; 
        min-height: 50rem;
    }

    .bmi-child1 {
        margin-top: 8rem;
        margin-bottom: 4rem;
    } 

    .bmi__title {
    font-size: 48px;
    }

    .bmi__text {
        font-size: 1.4rem;
    }

    /* BMI calculation section */

    .bmi-child2 {
        flex-direction: row;
        align-items: start;
        justify-content: space-between;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    
}
@media screen and (min-width: 576px) and (max-width: 992px) {
    .bmi__calculator {
        padding-top: 4rem;
    }

    .bmi-child2 {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .bmi--input {
    width: 32.2rem;
    }
}

@media screen and (max-width: 576px) {

    .bmi__calculator {
        padding-top: 4rem;
    }
    .bmi-child2 {
        flex-direction: column;
        align-items: start;
        justify-content: space-between;
        padding-top: 5rem;
        padding-bottom: 5rem;
    }

    .dropdown-bar {
        padding: 2rem 0.5rem;
    }

    .bar1 {
        max-width: 22.3rem;
    }

    .bar2 {
        width: 100%;
    }

    .bmi--input {
        width: 21rem;
        padding: 2rem 0.5rem;
    }
}


